/* --page */
    /* this file should contain html and body styles, and any other styles that relate to the general wrapping of every page e.g. a pagewrapping element */

    html {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        font-family:Arial, Verdana, sans-serif;
        font-size: 100%;
		background:#a3d4e6;
        color:@black;
		.no-select;
    }
	
	@transpeed: 0.3s;
		
    .canvasparent {		
		.flex;
		.align-items(center);
		.justify-content(center);
    	height:100vh;		
		.border-box;
		overflow:hidden;
		.canvas {
			position:relative;
			z-index:1;
			max-width:100%;
			max-height:100%;
			//background:url('../img/world.png') no-repeat 50% 50% / contain !important;
		}
    }
	.messagewrapper {
		z-index:100;
		position:fixed;
		bottom:0;
		right:0;
		width:100%;
		overflow-y:auto;
		background:rgba(255,255,255,0.5);
		.transform(translateY(100%));
		.transition(all @transpeed);
		.message {
			display:none;
			min-height:80px;
			padding:0.5em;
			
			&:first-child {
				display:block;
			}
			
			.title {
				padding:0 0 0.5em 0;
				.fontcalculate(12);
				font-weight:bold;
			}
			.desc {
				padding:0;
				.fontcalculate(10);
			}
		}
	}
	
	.popup {
		z-index:-1;
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100vh;
		background:rgba(0,0,0,0.3);
		.transition(all 0.5s);
		.transparency(0);
		.flex;
		.justify-content(center);
		.align-items(center);
		
		&[data-shown='true'] {
			z-index:1;
			.transparency(1);
		}
		.popupinner {
			padding:1em;
			width:80%;
			max-width:800px;
			min-width:320px;
			background:@white;
			border-radius:3px;
			text-align:center;
			
			.title {
				.fontcalculate(20);
				font-weight:bold;
			}
			
			.levelselect {
				position:relative;
				padding:0.5em 0;
				.clearfix;
				p {
					padding:0;
					text-align:center;
				}
				.btnwrapper {
					float:left;
					width:30%;
					padding-right:2%;
					text-align:center;
				}
				.score {
					margin-top:0.5em;
					.fontcalculate(10);
				}
			}
		}
	}
	
	.hud {
		position:absolute;
		z-index:0;
		top:0;
		left:0;
		width:100%;
		.transform(translateY(-100%));
		.transition(all @transpeed);
		text-transform:uppercase;
		.fontcalculate(10);
		
		.huditemwrap {
			padding:5px;
			text-align:center;
			&.left {
				float:left;
			}
			&.right {
				float:right;
			}
			
			.number {
				display:block;
				.fontcalculate(50);
				line-height:1em;
				text-shadow:0 1px 1px @white;
			}
		}
		
		.healthbar {
			position:absolute;
			top:0;
			left:0;
			height:0.5em;
			background:green;
			.transition( all 0.3s );
		}
	}
	
	.menu {
		position:fixed;
		z-index:101;
		bottom:0;
		right:0;
		.transform(translateY(100%));
		.transition(all @transpeed);
		cursor:pointer;
		&:after {
			content:"Menu";
		}
	}
	
	.gameon {
		.hud {
			.transform(none);
		}
		.messagewrapper {
			.transform(none);
		}
		.menu {
			.transform(none);
		}
	}

@media @tabletWidth{
}

@media @mobileWidth{
}
