/* --page */
    /* this file should contain html and body styles, and any other styles that relate to the general wrapping of every page e.g. a pagewrapping element */
	
	html,
	body {
		position:fixed; //helps with ios mobile devices to prevent scrolling
		width:100vw;
		height:100vh;
		overflow:hidden;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

    html {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
    }

    body {
        font-size: 100%;
		background:#5EB1D2;
        color:@black;
		.no-select;
		.font-pixel;
		
		&.loaded {
			height:auto;
			.loadingwrap {
				.transparency(0);
				z-index:-1;
			}	
		}

		&.gameon {
			.hud {
				.transform(none);
			}
			.messagewrapper {
				.transform(translateX(-50%));
			}
			.menu {
				.transform(none);
			}
			.sharingbuttons.loaded {
				.transform(translateY(100%) translateX(-50%));
			}
		}	
		&[data-gamemode='1']{ //sandbox, no healthbar or score
			.hud {
				.left,
				.healthwrapper {
					display:none;
				}
			}
		}
		/*
		&[data-gamemode='4']{ //vs, no country count or score
			.hud {
				.left,
				.right {
					display:none;
				}
			}
		}
		*/
		&[data-gamemode='4'], //vs, no country count or score
		&[data-gamemode='5']{ //assassinate, no hud
			.hud {
				.healthwrapper,
				.countrycounttext {
					display:none;
				}
				.timetext {
					display:block;
				}
			}
		}
	}
	
	@transpeed: 0.3s;
		
    .canvasparent {		
		position:relative;
		.flex;
		.align-items(center);
		.justify-content(center);
    	height:100%;		
		.border-box;
		overflow:hidden;
		cursor:url('../img/cursor.ico'),default;
		.canvas {
			position:relative;
			z-index:1;
			max-width:100%;
			max-height:100%;
		}
    }
	.messagewrapper {
		z-index:100;
		position:absolute;
		bottom:0;
		left:50%;
		overflow-y:auto;
		background:rgba(255,255,255,0.5);
		.transform(translateY(100%) translateX(-50%));
		.transition(all @transpeed);
		.message {
			display:none;
			padding:0.5em;
			padding-top:0;
			text-shadow:0 0.1em 0 @white;
			text-align:center;
			
			&:first-child {
				display:block;
			}
			
			.title {
				padding:0;
				.fontcalculate(21);
				font-weight:bold;
			}
			.desc {
				padding:0;
				.fontcalculate(14);
			}
		}
	}
	
	.popup {
		z-index:-1;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100vh;
		background:rgba(0,0,0,0.3);
		.transition(opacity 0.5s);
		.transparency(0);
		.flex;
		.justify-content(center);
		.align-items(center);
		
		&[data-shown='true'] {
			z-index:1;
			.transparency(1);
		}
		.popupinner {
			position:relative;
			padding:1em;
			margin-top:-1em;
			width:80%;
			max-width:460px;
			min-width:320px;
			background:@red;
			border:solid 0.5em @redDark;
			text-align:center;
			color:@white;
			text-shadow:0 0.15em 0 @redDark;
			
			.title {
				position:absolute;
				top:-0.3em;
				left:50%;
				width:130%;
				.transform(translateY(-50%) translateX(-50%));
				.fontcalculate(60);
				font-weight:bold;
				text-shadow:0 0.1em 0 @redDark,
							0.1em 0 0 @redDark,
							0 -0.1em 0 @redDark,
							-0.1em 0 0 @redDark;
				color:@white;
				text-align:center;
			}
			
			.label {
				display:block;
				margin:1em 0;
			}
			
			select {
				padding:0.3em;
				max-width:50%;
				margin-left:1%;
				.font-pixel;
				border:solid 0.3em @redDark;
			}
			
			.levelselectwrap {
				.flex;
				.flex-wrap;
				.justify-content(space-between);
			}
			.levelselect {
				padding:0.25em 0;
				width:48%;
				
				.btns {
					.flex;
				}
				
				&.fullwidth {
					padding:0 0 0.5em 0;
					width:100%;
					.helpwrap {
						.helptext {
							width:300px;
						}
					}
				}
				.btnwrapper {
					flex-grow:1;
					text-align:center;
				}
				.score {
					width:100%;
					margin-top:0.5em;
					.fontcalculate(11);
				}
				.helpwrap {
					position:relative;
					.helptext {
						position:absolute;
						top:50%;
						right:100%;
						width:150px;
						padding:0.5em;
						margin-right:0.4em;
						background:@white;
						border:solid 0.3em @black;
						color:@black;
						text-shadow:none;
						.transform(translateY(-50%));
						.fontcalculate(14);
						z-index:-10;
						.transparency(0);
						&:before,
						&:after {
							content:"";
							position:absolute;
							top:50%;
							left:100%;
							border-left:solid 0.3em @white;
							border-right:solid 0.3em @black;
							.transform(translateY(-50%));
						}
						&:before {
							height:1em;
						}
						&:after {
							height:0.4em;
							margin-left:0.3em;
						}
					}
					&.active {
						.helptext {
							z-index:900;
							.transparency(1);
						}
					}
				}
			}
		}
		
		.countdown {
			margin-top:-1em;
			.fontcalculate(60);
			color:@white;
			text-shadow:0 0.1em 0 @black;
		}
		
		&.splashwrap {			
			.splash {
				.flex;
				.justify-content(center);
				.align-items(center);
				flex-grow:1;
				max-width:45%;
				padding:1em;
				height:100%;
				background-size:contain;
				background-repeat:no-repeat;
				background-position:50% 50%;
				font-size:8vmin;
				color:@white;
				font-style:italic;
				text-shadow:0 0.1em 0 @black;
				span {
					display:block;
					width:100%;
					text-align:center;
					.transition(all @transpeed * 3);
				}
				&.left span {
					.transform(translateX(-100%));
				}
				&.right span {
					.transform(translateX(100%));
				}
			}
			.splashvs {				
				padding:0.1em;
				font-size:10vmin;
				color:@white;
				text-shadow:0 0.1em 0 @black;
				.transition(all @transpeed * 3);
				.transform(translateY(100%));
			}
			
			&[data-shown='true']{
				.splash.left span,
				.splash.right span {
					.transform(translateX(0));
				}
				.splashvs {
					.transform(translateY(0));
				}
			}
		}
	}
	
	.hud {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		.transform(translateY(-100%));
		.transition(all @transpeed);
		text-transform:uppercase;
		font-size:2.6vmin;
		color:@white;
		text-shadow:0 0.2em 0 @black;
		
		.huditemwrap {
			position:relative;
			z-index:10;
			padding:0 0.5em;
			margin-top:-0.5em;
			letter-spacing:0px;
			text-align:center;
			&.left {
				float:left;
			}
			&.right {
				float:right;
			}
			
			.number {
				display:block;
				font-size:10vmin;
				line-height:1em;
				letter-spacing:-1.5px;
			}
			.timetext {
				display:none;
			}
		}
		
		.healthwrapper {
			position:absolute;
			z-index:10;
			top:1em;
			left:25%;
			width:50%;
			border-top:solid 0.4em @white;
			border-bottom:solid 0.4em @white;
			background:@black;
			&:before,
			&:after {
				content:"";
				position:absolute;
				top:0;
				width:0.4em;
				height:100%;
				background:@white;
			}
			&:before {
				right:100%;
			}
			&:after {
				left:100%;
			}
			.healthbar {
				height:1em;
				background:@red;
				.transition( all 0.3s );
			}
		}
	}
	
	.menu {
		position:absolute;
		z-index:101;
		bottom:0;
		right:0;
		width:3em;
		height:3em;
		background:url('../img/menu.svg') no-repeat 50% 50% rgba(255,255,255,0.5);
		background-size:60% auto;
		.transform(translateY(100%));
		.transition(all @transpeed);
		cursor:pointer;
		&:hover {
			background-color:@white;
		}
	}
			
	.loadingwrap {
		position:absolute;
		z-index:900;
		top:0;
		left:0;
		width:100vw;
		height:100vh;
		.loadinginner {	
			position:absolute;
			top:50%;
			left:0;
			width:100%;
			background:@red;
			.transform(translateY(-50%));
			.transition( opacity @transpeed );
			&:after {
				content:"Loading";
				position:absolute;
				z-index:-1;
				top:50%;
				left:50%;
				.transform(translateY(-50%) translateX(-50%));
				.fontcalculate(30);
			}
			.loadingbar {
				position:static;
				z-index:2;
				width:0;
				height:20vh;
				overflow:hidden;
				background:@redDark;
				&:after {
					content:"Loading";
					position:absolute;
					z-index:1;
					top:50%;
					left:50%;
					.transform(translateY(-50%) translateX(-50%));
					color:@white;
					.fontcalculate(30);
					text-shadow:0 0.1em 0 @redDark;
				}
			}
		}
	}
	
	.sharingbuttons {
		z-index:100;
		position:absolute;
		bottom:0;
		left:50%;
		.transform(translateX(-50%) translateY(100%));
		.transition(all @transpeed);
		.flex;		
		
		&.loaded {
			.transform(translateX(-50%));
		}
		
		a {
			width:2.8em;
			height:2.8em;
			background-position:50% 50%;
			background-repeat:no-repeat;
			text-indent:-9999px;
			.transition(all @transpeed / 3);
			&:focus,
			&:active {
				outline:0;
			}
			&:hover {
				.transform(translateY(-10%));
			}
			
			&.fb {
				background-image:url('../img/share_fb.gif');
			}
			&.tw {
				background-image:url('../img/share_tw.gif');
			}
			&.gp {
				background-image:url('../img/share_gp.gif');
			}
			&.pin {
				background-image:url('../img/share_pn.gif');
			}
			&.li {
				background-image:url('../img/share_lk.gif');
			}
			&.homelink {
				background-image:url('../img/cd.gif');
			}
		}
	}

@media @tabletWidth{
	.popup {
		.popupinner {
			padding:0.5em;
			width:100%;
			margin-top:-2em;
			min-width:0;
			max-width:none;
			border-width:0.3em;
			.title {
				font-size:11vmin;
			}
			.levelselect {
				.helpwrap {
					.helptext {
						width:110px;
					}
				}
				&.fullwidth {
					.helpwrap {
						.helptext {
							width:240px;
						}
					}
				}
			}			
			.label {
				margin:0.5em 0;
			}
		}
	}	
	.messagewrapper {
		width:100%;
		.message {
			padding:0 0.5em 0.5em 0.5em;
			.title {
				.fontcalculate(15);
			}
			.desc {
				.fontcalculate(13);
			}
		}
	}
	.hud {
		.healthwrapper {
			left:25%;
			width:50%;
		}
	}
}

@media @mobileWidth{
}

@media screen and (orientation:portrait) {
	/* make opening vs screen vertical on portrait */
	.popup.splashwrap {
		.flex-direction(column);
		.splash {
			max-width:none;
		}
	}
}